* {
}

body {
  height: 300vh;
}

.site-logo {
  width: 150px;
}

.site-nav {
  position: absolute;
  top: 0;
}

.home {
  background-image: url(../img/Bg-Shape.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 50%;
}

.about-text {
  background-image: url(../img/bg-2.svg);
  background-size: 100%;
  background-position: center;
}

.home-content {
  margin-top: 5.5rem !important;
}

@media screen and (max-width: 576px) {
  .about-content,
  .about-content-text {
    width: 100% !important;
  }
} ;
